[build]
builder = "nixpacks"

[deploy]
startCommand = "gunicorn main:app --config gunicorn.conf.py"
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
