# Core FastAPI / Servidor
fastapi
uvicorn[standard]
pydantic>=2.0,<3.0
pydantic-settings>=2.0,<3.0
asyncpg                # Para la conexión asíncrona a PostgreSQL (Supabase)
python-dotenv          # Para cargar el archivo .env
gunicorn
sse-starlette          # Para notificaciones en tiempo real (SSE)
# UI/Templating
jinja2                 # Para renderizar las vistas HTMX/Tailwind
python-multipart       # Para manejo de UploadFile (Excel Multisitio)

# Lógica de Negocio
pandas                 # Para el procesamiento de Excel Multisitio
openpyxl               # Backend necesario para que Pandas lea .xlsx
msal
xlsxwriter
itsdangerous
fpdf2==2.7.4           # Generación de PDFs (High Precision)
matplotlib==3.8.0      # Gráficas
numpy==1.26.0          # Compatible con Python 3.12

# Testing
pytest
pytest-asyncio
httpx